.idea/
misc/spice-0.12.0/.kdev4/
misc/spice-0.12.0/spice-0.12.0.kdev4
/nbproject/private/
.*.swp
*~
node_modules/
npm-debug.log
all_compiled.js
all_uncompiled.js
index_uncompiled.html
application/WorkerProcess_c.js
coverage
*.rpm
spice_client.zip
unzipped
/cache/
/commit.properties
/build.properties
/spice-web-client*.tar.gz
/pkgs
